footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background-color: #4DCCBD;
    margin-top: 24px;
    font-size: 20px;
    color: #1c564e;
}

.footer__img {
    width: 20em;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #1c564e;
}